@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");


* {
 padding: 0;
 margin: 0;
 font-family: "Poppins", sans-serif;
}


header {
 background-color: #333;
 color: white;
 padding: 20px;
}


header > a {
 color: white;
 text-decoration: none;
}


footer {
 background-color: #333;
 color: white;
 padding: 10px;
 text-align: center;
}


.search-bar {
 display: flex;
 justify-content: center;
 margin: 10px;
}


#search-input {
 width: 300px;
 height: 30px;
 border: 1px solid #333;
 border-radius: 5px;
 margin-right: 10px;
 padding: 0 7px;
}


#search-button {
 width: 100px;
 height: 33px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 background-color: #333;
 color: white;
}


.sorting-options {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-bottom: 15px;
}


#sort-by-date,
#sort-by-rating {
 width: 225px;
 height: 30px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}


.tabs {
 display: flex;
 justify-content: flex-start;

 gap: 10px;
 margin-left: 40px;
 overflow: scroll;
}


.tabs button {
    padding: 4px;
    margin: 5px;
 display: block;
 width: 120px;
 height: fit-content;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 
}
.tabs button:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 3px purple;
    
}

.active-tab {
 background-color: rgb(102, 12, 102);
 color: white;
}


.pagination {
 display: flex;
 justify-content: center;
 margin-bottom: 10px;
}


#prev-button,
#current-button,
#next-button {
 border: none;
 border-radius: 5px;
 padding: 5px 5px;
 margin: 0px 5px;
 cursor: pointer;
}


.card {
 width: 200px;
 height: 375px;
 border: 1px solid #333;
 margin: 10px;
 border-radius: 5px;
 list-style-type: none;
}


.poster {
 width: 200px;
 height: 250px;
 object-fit: cover;
}


.title {
 font-size: 16px;
 font-weight: bold;
 text-align: center;
 margin-bottom: 10px;
}


.vote-fav {
 display: flex;
 justify-content: space-around;
}


.fav-icon {
 width: 20px;
 height: 20px;
 cursor: pointer;
 display: flex;
 margin-top: 20px;
}


.movies-list-pagination {
 margin: 25px 70px;
}


#movies-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 20px 0;
}


